.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 45px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons__small-noti {
  background-color: tomato;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: 20px;
  top: 44px;
}
